.container {
  text-align: center;
  padding-top: 200px;
}

.halfWidth {
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 756px) {
  .dialog {
    width: 95% !important;
    max-width: 700px !important;
  }
}

:global {

  .contentContainer {
    margin: 16px;
  }

  .textCenter {
    text-align: center;
  }
  .textLeft {
    text-align: left;
    white-space: nowrap;
  }

  @media screen and (min-width: 756px) {
    .contentContainer {
      margin: 64px;
    }
  }

}