.container {
  text-align: center;
  padding-top: 200px;
}

:global {

  .contentContainer {
    margin: 16px;
  }

  .textCenter {
    text-align: center;
  }
  .textLeft {
    text-align: left;
  }

  @media screen and (min-width: 756px) {
    .contentContainer {
      margin: 64px;
    }
  }
}